{% extends "login/base.html" %}

{% block title %}
<b>Pharmacy</b>
&emsp;
<a style="text-decoration: none;" href="{% url 'home' %}">
    <button class="btn btn-outline-primary" type="submit">
    Home
</button>
</a>
{% endblock title %}

{% block patients %}
<div class="container">
    <h2>Patient Details</h2>   
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-bordered table-hover" id="myTable">
                    <thead>
                        <tr >
                            <th class="text-center">
                                Patient ID
                            </th>
                            <th class="text-center">
                                Name
                            </th>
                            <th class="text-center">
                                Age
                            </th>
                            <th class="text-center">
                                Address
                            </th>
                            <th class="text-center">
                                DOJ
                            </th>
                            <th class="text-center">
                                Type of room
                            </th>
                        </tr>
                    </thead>
                    <tbody id="body">
                        <tr >
                            <td>
                            <span class="input-group-append">
                                    <a class="search" href="{% url 'search-patient' %}">
                                        <input type="button" value="&#128270;">
                                    </a>
                                <input type="text" id="idd" style="width: 100px;">
                            </span>
                            </td>
                            <td id="td1">
                        
                            </td>
                            <td id="td2">
                            </td>
                            <td id="td3">
                            </td>
                            <td id="td4">
                            </td>
                            <td id="td5">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><br>
<div id="issmedic">
    <h2>Medicine Issued</h2>   
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-bordered table-hover" id="med">
                    <thead>
                        <tr >
                            <th class="text-center">
                                #
                            </th>
                            <th class="text-center">
                                Medicine
                            </th>
                            <th class="text-center">
                                Quantity
                            </th>
                            <th class="text-center">
                                Rate
                            </th>
                            <th class="text-center">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody id="remove">
                    </tbody>
                </table>
            </div>
        </div>
        <a  id="ambtn">
               <button type="button" class="btn btn-success"><b>Issue Medicines</b>
            </button>
        </a>
    </div>
</div>
    <br><br>
<div id="addmedic">
    <h2>Add Medicine</h2>  
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-bordered table-hover" id="tab_logic">
                    <thead>
                        <tr >
                            <th class="text-center">
                                #
                            </th>
                            <th class="text-center">
                                Medicine
                            </th>
                            <th class="text-center">
                                Quantity
                            </th>
                            <th class="text-center">
                                Rate
                            </th>
                            <th class="text-center">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id='addr0'>
                            <td>
                            1
                            </td>
                            <td>
                            <input type="text" name='Medicine'  placeholder='Amedicine, Bmedicine, Cmedicine' class="form-control" id="medic1"/>
                            </td>
                            <td>
                            <input type="text" name='Enter Quantity'  placeholder='Enter Quantity' class="form-control" id="mediq1"/>
                            </td>
                            <td>
                            <input type="text" name='Rate'  placeholder='Rate' class="form-control" id="medir1" readonly/>
                            </td>
                            <td>
                            <input type="text" name='Amount'  placeholder='Amount' class="form-control" id="media1" readonly/>
                            </td>
                        </tr>
                        <tr id='addr1'></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a id="up" href="{% url 'add-medicine' %}" class="btn btn-success pull-left mr-1">
            <b>Add-row</b>
            </a>
        <a id='delete_row' class="pull-right btn btn-danger"><b>Delete Row</b></a>
        <br><br><br>
        <a href="{% url 'pharmacy' %}">
            <button type="button" class="btn btn-primary"  ><b>Update</b>
            </button></a>

        <a id="aa" href="{% url 'search-medicine' %}">
        </a>
    </div>
</div>
</div>

{% block javascript %}
<script>
    document.getElementById("addmedic").style.display = "none"
    document.getElementById("issmedic").style.display = "none"
</script>
{% endblock javascript %}
{% endblock patients %}