{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <title>ABC Hospital Management System</title>
    </head>

    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white ">

            <div class= "container text-center">
                <h1 class="my-0 mr-md-auto font-weight-normal " style="height: 70px;">ABC Hospital Management System</h1>
                <h5 class="my-0 mr-md-auto font-weight-normal " >{% block title %}{% endblock title %}</h5>
                <div>
                    {% block main %} {% endblock %}
                </div>
            </div>
        </div>
        <div class="container">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block patients %} {% endblock %}
        </div>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script type="application/javascript" src="{% static 'login/search.js' %}"></script>
        {% block javascript %} {% endblock %}
    </body>
</html>