{% extends "login/base.html" %}
{% block main %}
{% if user.is_authenticated %}
<div class="dropdown">
    <a href="{% url 'patients' %}"><button class="btn btn-outline-primary " type="submit">Patients</button></a>
    <a href="{% url 'pharmacy' %}"><button class="btn btn-outline-primary ml-2" type="submit">Pharmacy</button></a>
    <a href="{% url 'diagnostics' %}"><button class="btn btn-outline-primary ml-2" type="submit">Diagnostics</button></a>
    <a href="{% url 'logout' %}">
        <button class="btn btn-outline-primary ml-2" type="submit">Logout</button>
    </a>
</div>
{% endif %}
{% endblock main %}