{% extends "login/base.html" %}
{% load crispy_forms_tags %}
{% block main %}
<div class="container" style="width: fit-content;">
    <div class="card-deck mb-3 mt-3">
        <div class="card mb-4 shadow-sm" style="width: 350px;">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Log In</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <h2>For reference</h2>
    <br>
    1.Username : <b>jitender1998</b> &emsp; Password : <b>jk123456</b>
    <hr>
    2.Username : <b>prasanna-pk</b> &emsp; Password : <b>pk123456</b>
    <hr>
    3.Username : <b>youknowwhoiam1990</b> &emsp; Password :  <b>al123456</b>
    <hr>
    Note:<br>
    The above credentials are also valid for using django admin<br>
</div>
{% endblock main %}

