{% extends "login/base.html" %}
{% block main %}
<div class="container">
    <div class="border-top pt-3 mt-3">
        <h4>You have been successfully, Logged Out !!!</h4>
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
</div>
{% endblock main %}