{% extends "login/base.html" %}

{% block title %}
<b>Diagnostics</b>
&emsp;
<a style="text-decoration: none;" href="{% url 'home' %}">
    <button class="btn btn-outline-primary" type="submit">
    Home
</button>
</a>
{% endblock title %}

{% block patients %}
<div class="container">
    <h2>Patient Details</h2>   
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-bordered table-hover" id="myTabled">
                    <thead>
                        <tr >
                            <th class="text-center">
                                Patient ID
                            </th>
                            <th class="text-center">
                                Name
                            </th>
                            <th class="text-center">
                                Age
                            </th>
                            <th class="text-center">
                                Address
                            </th>
                            <th class="text-center">
                                DOJ
                            </th>
                            <th class="text-center">
                                Type of room
                            </th>
                        </tr>
                    </thead>
                    <tbody id="bodyd">
                        <tr >
                            <td>
                            <span class="input-group-append">
                                    <a class="searchd" href="{% url 'search-patient-diag' %}">
                                        <input type="button" value="&#128270;">
                                    </a>
                                <input type="text" id="iddd" style="width: 100px;">
                            </span>
                            </td>
                            <td id="tdd1">
                        
                            </td>
                            <td id="tdd2">
                            </td>
                            <td id="tdd3">
                            </td>
                            <td id="tdd4">
                            </td>
                            <td id="tdd5">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><br>
<div id="diags">
    <h2>Diagnostics Conducted</h2>   
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-bordered table-hover" id="dia">
                    <thead>
                        <tr >
                            <th class="text-center">
                                #
                            </th>
                            <th class="text-center">
                                Name of the test
                            </th>
                            <th class="text-center">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody id="removed">
                    </tbody>
                </table>
            </div>
        </div>
        <a id="issdiag" >
                <button type="button" class="btn btn-success"><b>Add Diagnostics</b>
                </button>
        </a>
        </div>
    </div>
    <br><br>
<div id="adddiag">
    <h2>Add Diagnostics</h2>  
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-bordered table-hover" id="tab_logicd">
                    <thead>
                        <tr >
                            <th class="text-center">
                                #
                            </th>
                            <th class="text-center">
                                Name of the Test
                            </th>
                            <th class="text-center">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id='ddr0'>
                            <td>
                            1
                            </td>
                            <td>
                            <input type="text" name='Diagnostic'  placeholder='Xray, CT Scan, Dialysis, MRI Scan' class="form-control" id="diag1"/>
                            </td>
                            <td>
                            <input type="text" name='Amount'  placeholder='Amount' class="form-control" id="diaga1" readonly/>
                            </td>
                        </tr>
                        <tr id='ddr1'></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a id="upd" href="{% url 'add-diagnostic' %}" class="btn btn-success pull-left mr-1">
            <b>Add-row</b>
            </a>
        <a id='delete_rowd' class="pull-right btn btn-danger"><b>Delete Row</b></a>
        <br><br><br>
        <a href="{% url 'diagnostics' %}">
            <button type="button" class="btn btn-primary"  ><b>Update</b>
            </button></a>

        <a id="aad" href="{% url 'search-diagnostic' %}">
        </a>
        </div>
    </div>
</div>
{% block javascript %}
<script>
    document.getElementById("adddiag").style.display = "none"
    document.getElementById("diags").style.display = "none"
</script>
{% endblock javascript %}
{% endblock patients %}