{% extends "login/base.html" %}

{% block title %}
<b>Search Patient</b>
&emsp;
<a href="{% url 'patients' %}">
    <button class="btn btn-outline-primary" type="submit">
        Go to Patients
    </button>
</a>
{% endblock title %}

{% block patients %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white ">
    <div class= "container text-center align-items-center">
            <a class="searchs" onclick="myFunc()" >
                <input type="button" value="&#128270;">
            </a>
        <input type="text" id="ids" style="width: 100px;" placeholder="Patient ID" >
    </div>
</div>
</div>
{% endblock patients %}