{% extends "login/base.html" %}

{% block title %}
<a style="text-decoration: none;" href="{% url 'online-billing' %}">
    <button class="btn btn-primary" type="submit">
        Patient Billing
</button>
</a>
&emsp;
<a style="text-decoration: none;" href="{% url 'patients' %}">
    <button class="btn btn-outline-primary " type="submit">
        Go to Patients
    </button>
</a>

&emsp;
<a style="text-decoration: none;" href="{% url 'home' %}">
    <button class="btn btn-outline-primary" type="submit">
    Home
</button>
</a>
{% endblock title %}

{% block patients %}
<div class="container">
    <h2>Patient Details</h2> 
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-bordered table-hover" id="myTableb">
                    <thead>
                        <tr >
                            <th class="text-center">
                                Patient ID
                            </th>
                            <th class="text-center">
                                Name
                            </th>
                            <th class="text-center">
                                Age
                            </th>
                            <th class="text-center">
                                Address
                            </th>
                            <th class="text-center">
                                DOJ
                            </th>
                            <th class="text-center">
                                Date of Discharge
                            </th>
                            <th class="text-center">
                                Type of room
                            </th>
                        </tr>
                    </thead>
                    <tbody id="body">
                        <tr >
                            <td id="tdb0">
                                {{ patient.pid }}
                            </td>
                            <td id="tdb1">
                                {{ patient.name }}
                            </td>
                            <td id="tdb2">
                                {{ patient.age }}
                            </td>
                            <td id="tdb3">
                                {{ patient.address }}
                            </td>
                            <td id="tdb4">
                                {{ patient.admission_date }}
                            </td>
                            <td id="tdb5">
                                
                            </td>
                            <td id="tdb6">
                                {{ patient.bedtype }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="container" style="width: 100%;">
                    <div class="card-deck mb-2 mt-3">
                        <div class="card mb-1 border-white">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row "  >
                                        <div class="col" >
                                        </div>
                                        <div class="col" style="background-color:white;width: 100%;">
                                            <div class="row">
                                                <div class="col">
                                                    <b id="num"></b>
                                                </div>
                                                <div class="col">
                                                    <b id="bill"></b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>

    {% if medicine %}
    <h2>Pharmacy Charges</h2>  
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-bordered table-hover" id="medb">
                    <thead>
                        <tr >
                            <th class="text-center">
                                Medicine
                            </th>
                            <th class="text-center">
                                Quantity
                            </th>
                            <th class="text-center">
                                Rate
                            </th>
                            <th class="text-center">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for medic in medicine %}
                        <tr >
                            <td>
                                {{ medic.medicine }}
                            </td>
                            <td>
                                {{ medic.quantity }}
                            </td>
                            <td>
                                {{ medic.rate }}
                            </td>
                            <td id="t" >
                                {{ medic.amount }}
                            </td > 
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <div class="container" style="width: 80%;">
                    <div class="card-deck mb-2 mt-3">
                        <div class="card mb-1 border-white">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row "  >
                                        <div class="col" >
                                        </div>
                                        <div class="col" style="background-color:white;width: 100%;">
                                            <div class="row">
                                                <div class="col">
                                                    <b id="bill2"></b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        </div>
    {% endif %}

    {% if diagnostic %}
    <h2>Diagnostics Charges</h2> 
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-bordered table-hover" id="diagb">
                    <thead>
                        <tr >
                            <th class="text-center">
                                Name of the Test
                            </th>
                            <th class="text-center">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for diac in diagnostic %}
                        <tr >
                            <td>
                                {{ diac.diagnostic }}
                            </td>
                            <td id="d" >
                                {{ diac.amount }}
                            </td > 
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <div class="container" style="width: 80%;">
                    <div class="card-deck mb-2 mt-3">
                        <div class="card mb-1 border-white">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row "  >
                                        <div class="col" >
                                        </div>
                                        <div class="col" style="background-color:white;width: 100%;">
                                            <div class="row">
                                                <div class="col">
                                                    <b id="bill3"></b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        </div>
        {% endif %}
        <div class="container" style="width: 80%;">
            <div class="card-deck mb-2 mt-3">
                <div class="card mb-1 border-white">
                    <div class="card-body">
                        <div class="container">
                            <div class="row "  >
                                <div class="col" >
                                </div>
                                <div class="col" style="background-color:white;width: 100%;">
                                    <div class="row">
                                        <div class="col">
                                            <a href="{% url 'discharge' patient.pid %}">
                                                <button type="button" class="btn btn-primary"  >
                                                    <b>Confirm</b>
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <b id="bill4"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block javascript %}
        <script>
        var d = new Date();
        var yr = d.getFullYear();
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var mon = months[d.getMonth()];
        var day = d.getDate();
        var full = mon+" "+ day +"," + " " + yr;
        document.getElementById("tdb5").innerHTML = full;
        var old = document.getElementById("tdb4").innerHTML;
        var old_d = new Date(old);
        var dis = new Date(full); 
        var Difference_In_Time = dis.getTime() - old_d.getTime(); 
        var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24); 
        document.getElementById("num").innerHTML = "No. of Days : " + Difference_In_Days;
        var tottt = 0;
        var bed = document.getElementById("tdb6").innerHTML;
        bed = bed.trim();
        if ( bed == 'sharing'){
            tottt += 2000*Difference_In_Days;
        }
        if (bed == 'general'){
            tottt +=6000*Difference_In_Days;
        }
        if(bed == 'single'){
            tottt += 10000*Difference_In_Days;
        }
        document.getElementById("bill").innerHTML = "Bill for Room : " + "Rs." +tottt;
        </script>
        {% endblock javascript %}
{% endblock patients %}