{% extends "login/base.html" %}

{% block title %}
<a style="text-decoration: none;" href="{% url 'pid-search' %}">
    <button class="btn btn-outline-primary" type="submit">
    Search Patient
</button>
</a>
&emsp;
<a style="text-decoration: none;" href="{% url 'home' %}">
    <button class="btn btn-outline-primary" type="submit">
    Home
</button>
</a>
&emsp;
<a style="text-decoration: none;" href="{% url 'patient-register' %}">
    <button class="btn btn-outline-primary" type="submit">
    Register New Patient
</button>
</a>
&emsp;
<a style="text-decoration: none;" href="{% url 'patient-list' %}">
    <button class="btn btn-outline-primary" type="submit">
    View Patients
</button>
&emsp;
<a href="{% url 'online-billing' %}">
    <button class="btn btn-primary" type="submit">
        Patient Billing
</button>
</a><br><br>
<b>Patients List</b>
&emsp;
{% endblock title %}

{% block patients %}
{% for patient in patients %}
<div class="container" style="width: 80%;">
    <div class="card-deck mb-2 mt-3">
        <div class="card mb-1 shadow-sm ">
            <div class="card-body">
                <div class="container">
                    <div class="row "  >
                        <div class="col" >
                                Name : <b>{{ patient.name }}</b> &emsp; Patient ID : <b>{{ patient.pid }}</b>
                        </div>
                        <div class="col" style="background-color:white;width: 100%;">
                            <div class="row">
                                <div class="col">
                                    <a href="{% url  'patient-view' patient.pid %}" >
                                        <button class="btn btn-outline-primary ml-2" type="submit">
                                            View
                                        </button>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="{% url  'patient-update' patient.pid %}" >
                                        <button class="btn btn-outline-primary ml-2" type="submit">
                                            Edit
                                        </button>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="{% url  'patient-delete' patient.pid %}" >
                                        <button class="btn btn-outline-danger ml-2" type="submit">
                                            Delete
                                        </button>
                                    </a>
                                </div>
                                {% if patient.status == "active" %}
                                <div class="col">
                                    <a href="{% url  'generate-bill' patient.pid %}" >
                                        <button class="btn btn-outline-success ml-2" type="submit">
                                            Billing
                                        </button>
                                    </a>
                                </div>
                                {% else %}
                                <div class="col">
                                    <small>Discharged</small>
                                </div>

                                {% endif %}
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>           
{% endfor %}
{% endblock patients %}