{% extends "login/base.html" %}

{% block title %}
<a href="{% url 'patients' %}">
    <button class="btn btn-outline-primary" type="submit">
        Go to Patients
    </button>
</a>
{% endblock title %}

{% block patients %}
<div class="container">
    <h2>View Patients
        <button class="btn btn-outline-primary" type="submit" onclick="allpat()">
           All Patients
        </button>
        <button class="btn btn-outline-primary" type="submit" onclick="activepat()">
           Active Patients
        </button>
    </h2>   
    <div id="active">
    <table class="table">
      <thead>
        <tr>
          <th>Patient ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>DOJ</th>
          <th>Type of Room</th>
          <th>Status</th>
        </tr>
      </thead>
      {% for patient in patients %}
      {% if patient.status == "active" %}
      <tbody>
        <tr>
          <td>{{ patient.pid }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.address }}</td>
          <td>{{ patient.admission_date }}</td>
          <td>{{ patient.bedtype }}</td>
          <td>{{ patient.status }}</td>
      </tbody>
      {% endif %}
      {% endfor %}
    </table>
  </div>
  <div id="all">
    <table class="table" >
      <thead>
        <tr>
          <th>Patient ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>DOJ</th>
          <th>Type of Room</th>
          <th>Status</th>
        </tr>
      </thead>
      {% for patient in patients %}
      <tbody>
        <tr>
          <td>{{ patient.pid }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.address }}</td>
          <td>{{ patient.admission_date }}</td>
          <td>{{ patient.bedtype }}</td>
          <td>{{ patient.status }}</td>
      </tbody>
      {% endfor %}
    </table>
    </div>

  </div>
  {% block javascript %}
  <script>
  document.getElementById("active").style.display = "block";
  document.getElementById("all").style.display = "none";
  </script>
  {% endblock javascript %}
  {% endblock patients %}