{% extends "login/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
<b>Update Patient</b>
&emsp;
<a href="{% url 'patients' %}">
    <button class="btn btn-outline-primary" type="submit">
        Go to Patients
    </button>
</a>
{% endblock title %}

{% block patients %}
<div class="container" style="width: fit-content;">
    <div class="card-deck mb-3 mt-3" >
        <div class="card shadow-sm mb-4" style="width: 500px;">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Update</legend>
                        {{ p_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock patients %}