{% extends "login/base.html" %}

{% block title %}
<b>View Patient</b>
&emsp;
<a href="{% url 'patients' %}">
    <button class="btn btn-outline-primary" type="submit">
        Go to Patients
    </button>
</a>
{% endblock title %}

{% block patients %}
<div class="container" style="width: fit-content;">
    <div class="card-deck mb-3 mt-3" >
        <div class="card border-white mb-4" style="width: 500px;">
            <div class="card-body">
                <p>Patient ID 
                    <span class="border border-light shadow-sm position-absolute inline-block" style="width: 200px; right: 0;">
                        {{  patient.pid  }}
                    </span>
                </p><hr>
                <p>SSN ID 
                    <span class="border border-light shadow-sm position-absolute inline-block " style="width: 200px; right: 0;">
                        {{  patient.ssn_id  }}
                    </span>
                </p><hr>
                <p>Patient Name 
                    <span class="border border-light shadow-sm position-absolute inline-block " style="width: 200px; right: 0;">
                        {{  patient.name  }}
                    </span>
                </p><hr>
                <p>Patient Age 
                    <span class="border border-light shadow-sm position-absolute inline-block " style="width: 200px; right: 0;">
                        {{  patient.age  }}
                    </span>
                </p><hr>
                <p>Date of admission 
                    <span class="border border-light shadow-sm position-absolute inline-block " style="width: 200px; right: 0;">
                        {{  patient.admission_date  }}
                    </span>
                </p><hr>
                <p>Type of Bed 
                    <span class="border border-light shadow-sm position-absolute inline-block " style="width: 200px; right: 0;">
                        {{  patient.bedtype  }}
                    </span>
                </p><hr>
                <p>Address 
                    <span class="border border-light shadow-sm position-absolute inline-block " style="width: 200px; right: 0;">
                        {{  patient.address  }}
                    </span>
                </p><br><hr>
                <p>State 
                    <span class="border border-light shadow-sm position-absolute inline-block " style="width: 200px; right: 0;">
                        {{  patient.state  }}
                    </span>
                </p><hr>
                <p>City 
                    <span class="border border-light shadow-sm position-absolute inline-block " style="width: 200px; right: 0;">
                        {{  patient.city  }}
                    </span>
                </p><hr>
                <p>Status 
                    <span class="border border-light shadow-sm position-absolute inline-block " style="width: 200px; right: 0;">
                        {{  patient.status  }}
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock patients %}